$--orange-col : #F24800;
$--dark-gray-col : #303E3D;
$--amber-col : #F89C00;



.dropdown-toggle::after {
    content: none;
}

#sidebarToggle .lines {
    display: block;
    width: 30px;
    height: 3px;
    top: 12px;
    background-color: rgb(55, 71, 79, 0.7);
}

#sidebarToggle .lines {
    background: transparent;
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 50rem;
    transition: .3s;
    position: relative;
    top: 4px;
}


.sidebar {
    width: 14rem;

    .nav-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        padding-left: 0;

        .nav-link {
            display: flex;
            flex-direction: column;
            color: #9EB8C7;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            padding: 1rem;
            

            i {
                text-align: center;
            }

            span {
                font-size: 0.64rem;
            }
        }
        
    }
}

.sidebar.toggle {
    .nav-item {
        text-align: center;
    }
}


.sidebar.toggled {
    .nav-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;

        

        .nav-link {
            display: flex;
            flex-direction: column;
            color: #9EB8C7;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            padding: 1rem;


            i {
                text-align: center;
            }

            span {
                font-size: 0.64rem;
            }
        }
    }

}

.main_search {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: .85rem;
    color: #303E3D
}

.main_search input {
    border-radius: 20px;
    min-width: 400px !important;
    background-color: #fff !important;
    border: 1px solid #CDD5E9 !important;
    font-size: .85rem;
    height: auto;
}

.main_search img {
    position: absolute;
    top: 10px;
    right: 12px;
    width: 16px;
    cursor: pointer;
    color: #9EB8C7;
    font-size: 14px
}



footer.sticky-footer {
    padding: 1rem;
    bottom: 0px;
    height: auto !important;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #303E3D;
    padding-left: 90px;

}


.outletMain.toggled {
    padding-left: 14rem !important;
    // padding-left: 14rem;
}

.outletMain {
    padding-left: 90px !important;
}


.layoutMain {
    overflow-y: scroll;
    max-height: calc(100vh - 4.375rem);
}

.main {
    overflow: hidden;
    max-height: 100vh;
}